<div class="center hero-unit">
  <h1>Welcome to the Poetas site!</h1>

  <h2>
    Poetas is the new hub for aspiring poets and writers. Sign up and share your poetry and short stories with us!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
