<% if user_signed_in? %>
<div>
  <h1>Welcome</h1>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>

<% else %>

<div class="center hero-unit">
  <h1>Welcome to the Poetas site!</h1>

  <h2>
    Poetas is the new hub for aspiring poets and writers. Sign up and share your poetry and short stories with us!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %> <b>or</b>
  <%= link_to "Sign in!", signin_path, class: "btn btn-large btn-primary" %> 

</div>
<% end %>
