<% provide(:title, @user.name) %>
<h1>Poems by <%= @user.name %></h1>
<div class="row">
  <div class="span8">
    <% if @user.poems.any? %>
      <h3>Poems found (<%= @user.poems.count %>)</h3>
      <ol class="poems">
        <%= render(@poems) %>
      </ol>
    <% end %>
  </div>
</div>
