<footer class="footer">
  <small>
    Ali3nLabs &copy; 2012, all rights reserved 
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
